doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title drill 12
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/source/main.js')
  body
    h1 Aeolus The Weather God
    input#zipInput(type='text', placeholder='Zip Code' autofocus='true')
    button#zipAdd Aeolus Input my Zip
    select#zipFolder
    button#zipPush Aeolus Summon the Forecast
    #container
      -for(var i=0;i <4;i++)
        .weather
          h1
          h2
          img


