doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 10
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/source/main.js')
  body
    h1 Select and Paint
    input#optionAdd(type='text', autofocus='true', placeholder='red')
    button#addButton Add Option
      select#options
    div#paint


