doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 11
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/source/main.js')
  body
    h1 Aeolus The Weather God
    input#inputZip(type='text', placeholder='ZIP Code' autofocus='true')
    button#zipAdd Add ZIP Code
    div
        Select#zipFold 
        Button#forGo Get ForeCast


