doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title test
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/source/main.js')
  body
    h1 Loki
      #score
      button#play Play!
      #container
        - for(var i = 0; i < 3; i++)
          .cup= i + 1


