doctype html
html(lang='en')
  head
    meta(charset ='utf-8')
    title Drill 1
  body
    h1 Drill 1
    img(src='http://octodex.github.com/images/original.png')
  footer
    small Fryman Inc. &reg;

