doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title test
    link(rel='styleshee', href='/css/style.css')
    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/source/main.js')
  body
    <input id='alpha' type='button' value='alpha'>
    <input id='beta'  type='button' value='beta'>
    <input id='omega' type='button' value='omega'>

// input#addbuttons(type='button', value='Add 2 Buttons')
// #buttons

