doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title drill 5
    link(rel='styleshee', href='/css/style.css')
    script(src='/js/vendor/jquery.1.10.2.js')
    script(src='/js/source/main.js')
    body
      #controls 
        input#number(type='text',autofocus=true, placeholder='10')
        button#add-lis Add LIs
      ul#container

