doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='/css/style.css')
    title Drill 2
  Body
    h1 Drill 2
    img(src='http://octodex.github.com/images/daftpunktocat-thomas.gif')
    img(src='http://octodex.github.com/images/daftpunktocat-guy.gif')
    #bacon
      ul
        -for(var i=0; i<100;i++)
          li.alpha=i
        
