doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 3
    link(rel='stylesheet' href='/css/style.css')
    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/source/main.js')
  Body
    h1 Drill 3
      img(src='http://www.skepdic.com/graphics/vampire.gif')
    #controls
      <input id='color-text' type='text' placeholder= 'blue'autofocus>
      <input id='add-color' type='button' value='Add Color'>
    #colors


