doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title test
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/source/main.js')
  body
    h1 Apollo The God of Knowledge and Intellect
    input#number(type='text', placeholder='Apollo Demands a number', autofocus='true')
    button#button Apollo give me wisdom
      #container
        #seed


