doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title drill 14
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/source/main.js')
  body
    h1 Perkele The Finnish Supreme sky and thunder God
    input#zipInput(type='text', placeholder='Zip Code' autofocus='true') 
    button#zipGrab Perkele show me the sky
    .sat
      img#alpha
      img#beta
      img#omega



