doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 6
    link(rel='styleshee', href='/css/style.css')
    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/source/main.js')
  body
    input#webphoto(type='text' placeholder='url' autofoucus='true')
    button#addimage Add Image 
    #container
